body {
    font-family: JetBrains Mono, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(170deg, #218838, #1a7734), url('../img/pagina/FondoHojas.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #333;
}
 
 
header {
    background-color: #218838;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

header:hover {
    background-color: #1a7734;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.logo:hover img {
    transform: scale(1.1);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    transition: transform 0.2s;
}

.menu li:hover {
    transform: translateY(-3px);
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: rgb(240, 128, 128);
}

.menu li a i {
    font-size: 24px;
    margin-right: 10px;
}

i {
    font-size: 24px;
}

main {
    padding: 5px;
}

.configuracion-perfil-form {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.configuracion-perfil-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"], 
input[type="number"],
textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea#biografia {
    resize: vertical;
    min-height: 100px;
}
button {
    background: linear-gradient(135deg,#3498db, rgb(29, 111, 170));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background: linear-gradient(135deg, rgb(240, 128, 128), rgb(197, 78, 78));
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #218838;
    color: #fff;
    transition: background-color 0.3s;
}

footer a {
    color: wheat;
}

footer:hover {
    background-color: #1a7734;
}

.aviso {
    font-size: 15px;
    color: #ff7f50;
}

button[type="reset"] {
    background: linear-gradient(135deg, #bcdb34, rgb(161, 170, 29));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button[type="reset"]:hover {
    background: linear-gradient(135deg, rgb(240, 128, 128), rgb(197, 78, 78));
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {

    body {
        background: linear-gradient(135deg, #218838, #1a7734), url('../img/pagina/Leaves.png')
    }

    body {
        background: linear-gradient(135deg, #218838, #1a7734), url('../img/pagina/Leaves.png')
    }
    .configuracion-perfil-form {
        width: 85%;
        margin: 10px auto;
    }

    .form-group {
        flex-direction: column;
        padding-right: 20px;
    }

    label, input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="file"], input[type="number"] {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 5px;
    }
}
