body {
    font-family: JetBrains Mono, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #218838, #1a7734), url('../img/pagina/Colegio.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #218838;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
}

header:hover {
    background-color: #1a7734;
}

h1, #eslogan {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #218838;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 75px;
}

footer a {
    color: wheat;
}

footer:hover {
    background-color: #1a7734;
}

.informacion-proyecto {
    order: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.informacion-proyecto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.informacion-proyecto p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

button {
    background: linear-gradient(135deg,#3498db, rgb(29, 111, 170));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.3s transform 0.3s, box-shadow 0.3s;
    display: block;
}

#crear_cuenta, #inicio_sesion {
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(135deg, rgb(240, 128, 128), rgb(197, 78, 78));
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    body {
        background: linear-gradient(135deg, #218838, #1a7734), url('../img/pagina/Leaves.png')
    }
    
    nav {
        flex-direction: column;
    }

    .menu {
        margin: 10px 0;
    }

    .informacion-proyecto {
        order: 2;
        width: 75%;
    }
}
