body {
    background-color: #f0f0f0;
    font-family: JetBrains Mono, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF6F61;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header h1 {
    font-size: 24px;
}

header img {
    max-height: 50px;
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header img {
    height: 40px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    text-align: center;
}

.registration-form h2 {
    color: #FF6F61;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FF6F61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF4136;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
